* {
    font-family: 'Poppins', sans-serif;
}

.my-background {
    background-color: rgba(0, 0, 0, 0.3);
}

.mobile-bg {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    background-position: center;
    background-repeat: no-repeat;
    background-size: 670px;
}

.user-modal {
    background-color: rgba(0, 0, 0, 0.3);
}

.edit-table-modal {
    background-color: rgba(0, 0, 0, 0.25);
}

.edit-table-modal2 {
    background-color: rgba(0, 0, 0, 0.06);
}





input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;